<div>
  <h1>
    <%= $game.player_1.player_name %> vs. <%= $game.player_2.player_name %>
  </h1>
</div>

<div>
  <h2>
    <%= $game.player_1.player_name %>: <%= @game.player_1.score %> HP
  </h2>
</div>

<div>
  <h2>
    <%= $game.player_2.player_name %>: <%= @game.player_2.score %> HP
  </h2>
</div>

<div>
  <h3>
    <%=@game.current_turn.player_name%>'s turn
  </h3>
</div>

<div>
  <form action="/attack" method="post">
    <input type="submit" value="Attack">
  </form>
</div>
